.btnFavori {
  background-color: rgba(255, 255, 255, 0.2);
  border: 3px solid var(--couleur-palette0);
  color: var(--couleur-palette0);
  border-radius: 9999px;
  padding: 7px;
  transition: transform 0.2s ease;  
}

.card {
    max-width: 30rem;
    border: solid 3px var(--couleur-palette1);
    border-width: 4px;
    padding: 6px;
    min-height: 24rem;
    margin: 10px;
}

select, form {
    width: 80%;
    min-width: 200px;
    max-width: 480px;
    padding: 4px;
    margin: 8px;
}

.badgeCategorie {
    background-color: var(--couleur-palette1);
    border: solid var(--couleur-palette0) 3px;
    font-weight: bold;
    color: var(--couleur-palette3);
}

.badgeType {
    background-color: var(--couleur-palette2);
    border: solid var(--couleur-palette1) 3px;
}

.badgeType, .badgeCategorie {
    border-radius: 15px;
    max-width: 120px;
    min-width: 100px;
    width: 100%;
    padding: 4px;
    margin: 6px;
}

.btnAfficherFavoris {
    width: 100%;
    min-width: 200px;
    max-width: 480px;
    padding: 4px;
    margin: 8px;
    transition: transform 0.2s ease;
}

.btnAfficherFavoris:hover {
    transform: scale(1.02);
}

.ress-top-left, .ress-top-right {
    border: solid 3px var(--couleur-palette1);
    border-width: 4px;
    margin: 10px;
}